@import url('https://fonts.googleapis.com/css?family=Delius|Lato');

body {
  margin: 0;
  background: #1F2018;
  font-family: 'Delius', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: rgba(211, 211, 211, 1.0);
}
h1 {
  font-size: 32pt;
}
h2 {
  font-size: 24pt;
}
ul.lessons {
  list-style: none;
}
ul.lessons li .num {
  color: rgba(211, 211, 211, 0.4);
}
p, li {
  font-size: 16pt;
  color: rgba(211, 211, 211, 0.8);
}
p.note {
  font-size: 12pt;
  color: rgba(211, 211, 211, 0.4);
}
nav {
  background: black;
  padding: 5px 10px;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12pt;
}
a {
  text-decoration: none;
  color: rgba(211, 211, 211, 0.8);
}
a.twitter {
  float: right;
}
a:hover {
  color: white;
}
a.active {
  color: rgba(211, 211, 211, 0.4);
}
main {
  padding: 20px 50px;
}
div.svg {
  text-align: center;
}
.orbit {
  fill: none;
  stroke: rgba(211, 211, 211, 1.0);
}
.main-focus, .planet {
  fill: rgba(211, 211, 211, 1.0);
}
.secondary-focus {
  fill: rgba(211, 211, 211, 0.3);
}
.area {
  fill: rgba(211, 211, 211, 0.1);
}
.radial-line {
  stroke: rgba(211, 211, 211, 0.5);
}
line.focal-distance {
  stroke: rgba(150, 150, 255, 0.8);
  stroke-width: 2;
}
text.focal-distance, tspan.focal-distance {
  fill: rgba(150, 150, 255, 0.8);
}
span.focal-distance {
  color: rgba(150, 150, 255, 0.8);
}
line.radial-line1 {
  stroke: rgba(255, 100, 100, 0.8);
  stroke-width: 2;
}
span.radial-line1 {
  color: rgba(255, 100, 100, 0.8);
}
line.radial-line2 {
  stroke: rgba(100, 255, 100, 0.8);
  stroke-width: 2;
}
span.radial-line2 {
  color: rgba(100, 255, 100, 0.8);
}

line.semi-major {
  stroke: rgba(211, 211, 0, 0.8);
  stroke-width: 2;
}
text.semi-major, tspan.semi-major {
  fill: rgba(211, 211, 0, 0.8);
}
span.major {
  color: rgba(211, 211, 0, 0.8);
}
span.semi-major {
  color: rgba(211, 211, 0, 1.0);
}
line.semi-minor {
  stroke: rgba(0, 211, 211, 0.8);
  stroke-width: 2;
}
text.semi-minor {
  fill: rgba(0, 211, 211, 0.8);
}
span.minor {
  color: rgba(0, 211, 211, 0.8);
}
span.semi-minor {
  color: rgba(0, 211, 211, 1.0);
}
em {
  font-style: normal;
  color: white;
}
.text {
    font-family: "Delius";
    font-size: 24pt;
    fill: rgba(211, 211, 211, 1.0);
}
.text1 {
    font-family: "Delius";
    font-size: 24pt;
    fill: rgba(211, 100, 100, 1.0);
}
.text2 {
    font-family: "Delius";
    font-size: 24pt;
    fill: rgba(100, 211, 100, 1.0);
}
.formula {
  font-size: 20pt;
  text-align: center;
  color: white;
  margin: 20px auto;
  padding: 20px;
  width: 10em;
}
.formula sup {
  font-size: 66%;
}
