@import url('https://fonts.googleapis.com/css?family=Delius|Lato');

body {
  margin: 0;
  background: #1F2018;
  font-family: 'Delius', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: rgba(211, 211, 211, 1.0);
}
h1 {
  font-size: 32pt;
}
h2 {
  font-size: 24pt;
}
ul.lessons {
  list-style: none;
}
ul.lessons li .num {
  color: rgba(211, 211, 211, 0.4);
}
p, li {
  font-size: 16pt;
  color: rgba(211, 211, 211, 0.8);
}
p.note {
  font-size: 12pt;
  color: rgba(211, 211, 211, 0.4);
}
nav {
  background: black;
  padding: 5px 10px;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12pt;
}
a {
  text-decoration: none;
  color: rgba(211, 211, 211, 0.8);
}
a.twitter {
  float: right;
}
a:hover {
  color: white;
}
a.active {
  color: rgba(211, 211, 211, 0.4);
}
main {
  padding: 20px 50px;
}
#drawing {
  text-align: center;
}
.orbit {
  fill: none;
  stroke: rgba(211, 211, 211, 1.0);
}
.main-focus, .planet {
  fill: rgba(211, 211, 211, 1.0);
}
.secondary-focus {
  fill: rgba(211, 211, 211, 0.3);
}
.area {
  fill: rgba(211, 211, 211, 0.1);
}
.radial-line {
  stroke: rgba(211, 211, 211, 0.5);
}
#drawing .major {
  stroke: rgba(211, 211, 0, 0.8);
  stroke-width: 1;
}
#drawing .semi-major {
  stroke: rgba(211, 211, 0, 0.8);
  stroke-width: 2;
}
span.major {
  color: rgba(211, 211, 0, 0.8);
}
#drawing .minor {
  stroke: rgba(0, 211, 211, 0.8);
  stroke-width: 1;
}
#drawing .semi-minor {
  stroke: rgba(0, 211, 211, 0.8);
  stroke-width: 2;
}
span.minor {
  color: rgba(0, 211, 211, 0.8);
}
em {
  font-style: normal;
  color: white;
}
.text {
    font-family: "Delius";
    font-size: 24pt;
    fill: rgba(211, 211, 211, 1.0);
}
